<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button  defaultHref="/" color="primary"></ion-back-button>
  </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>



<ion-card>
  <ion-item>
    <ion-icon slot="start" name="pin-outline"></ion-icon>
    <ion-label color="primary" >Marcador</ion-label>
  </ion-item>
  <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Corporis molestias nesciunt veritatis aliquid dolorum qui
      libero maxime ullam neque magnam optio soluta iure,
      dicta vitae quibusdam sint. Aut, voluptas dolores.
  </ion-card-content>
</ion-card>

</ion-content>
