<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button  defaultHref="/" color="primary"></ion-back-button>
  </ion-buttons>
    <ion-title> Tabs </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom,top">

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="call">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>


</ion-content>
